//- Declaration (chatroom-mixin.pug)

section#chatroom
  #users.blue-grey.collapsible
    p.card Users
    ul#list
  #messages
    - if (chats){
      each val in chats
        .myMessage(title=val.timestamp style='background-color:' + val.color+'5c')
          span.name= val.name
          span.message(style='background-color:' + val.color+'5c')= val.message

        //- p= 'name ' +val.name + ' message: '+ val.message
      - }
  audio#sound(src='/audio/drop.mp3' preload='auto')


