//- Declaration (chatroom-mixin.pug)
block chatroom 
section#chatroom.tile.is-12
  #messages.tile.is-vertical.is-8(style="height:95vh; overflow-y:scroll; display:grid")
    .systemMessage.box Hello orson!!
    .serverMessage.box Welcome to the most interesting chat room on earth!
    .myMessage.box
      span.name orson
      span Sat Sep 08 2018
    .myMessage.box
      span.name orson
      |                     Sat Sep 08 2018 = Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur aut
      |                     commodi sequi, ducimus voluptas earum quis voluptatem atque. Voluptatum commodi qui aliquam sint
      |                     error saepe possimus totam expedita dolor!
    .myMessage.box
      span.name orson
      |                     Sat Sep 08 2018 = Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur aut
      |                     commodi sequi, ducimus voluptas earum quis voluptatem atque. Voluptatum commodi qui aliquam sint
      |                     error saepe possimus totam expedita dolor!
    .myMessage.box
      span.name orson
      |                     Sat Sep 08 2018 = Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur aut
      |                     commodi sequi, ducimus voluptas earum quis voluptatem atque. Voluptatum commodi qui aliquam sint
      |                     error saepe possimus totam expedita dolor!
    .myMessage.box
      span.name orson
      |                     Sat Sep 08 2018 = Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur aut
      |                     commodi sequi, ducimus voluptas earum quis voluptatem atque. Voluptatum commodi qui aliquam sint
      |                     error saepe possimus totam expedita dolor!
  #users.list.tile.box.is-2