//- Declaration (footer-mixin.pug)
block footer 
footer.is-fixed-bottom.navbar.tile.is-parent
  input#message.is-6.tile.message_input(type='text', placeholder='Enter your message here')
  input#send.tile.is-3.is-child(type='button', value='Send')