block header
 
.tile
  header#bannner.is-flex.navbar.tile.is-fix.is-fixed-top
    div
      h1 Awesome Chat SCott
    input#ytlink.is-flex.ytling_input_box(title='enter a YouTube link', type='text', placeholder='http://youtube.com/')
    button#gobtn READYZ!!!
