header#bannner
  .overflow
    #currentSong.font11.grow.nowrap.scroll
      p.nomargin  .......Play Some Muzik........


  div.is-flex-desktop
    .nowrap
      input#ytlink.input(title='enter a YouTube link', type='text', placeholder='search for song to download')
      button#gobtn.button.is-link WIN
      .dropdown.is-active
        #dropdown-menu.dropdown-menu(role='menu')
          #searchContent.dropdown-content.hidden
    #buttons.name
      .is-flex.justify
        #play.button
          i.fas.fa-play
        #backward.button(title="rewind")
          i.fas.fa-angle-double-left
        #forward.button(title="fast forward")
          i.fas.fa-angle-double-right
        .time
        #sidenav.button.sidenav-trigger(data-target="slide-out") song List
