block header
 

header#bannner
  div
    h1 CHAT RADIO
    #currentSong current song!!
  input#ytlink(title='enter a YouTube link', type='text', placeholder='http://youtube.com/')
  button#gobtn READY
