extends layout.pug
block head
  title #{title}
  link(rel="shortcut icon", href="public/favicon.ico", type="image/x-icon")
  meta(name="viewport", content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0")
  meta(name="apple-mobile-web-app-capable" content="yes")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Caveat|Cinzel|EB+Garamond|Gloria+Hallelujah|Nothing+You+Could+Do|PT+Mono|Patrick+Hand|Philosopher|Press+Start+2P|Rancho|Shadows+Into+Light|Special+Elite|Cedarville+Cursive|Cinzel|Monoton|Permanent+Marker|Shadows+Into+Light")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.11.0/css/all.css")
  link(rel='stylesheet', href='/stylesheets/bulma.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')


block scripts
  script(src="socket.io/socket.io.js")
  //- script(type='module' src="javascripts/export.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  script( src="javascripts/chat.js" )
  script( src="javascripts/export.js" )
  script( src="javascripts/alertify.js" )
  //- script(src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js")



