doctype html
html
  block head
    title = title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery.min.js")
  body
    header#bannner
      .flex
        h1 Awesome Chat
      input#ytlink(class="ytling_input_box" title="enter a YouTube link" type="text" placeholder="http://youtube.com/" )  
      button#gobtn 
    block content

    script(src="socket.io/socket.io.js")
    script(src="javascripts/chat.js")
    script(src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js")

    
//- html
//-   block head
//-     title chat em up!!!
//-     meta(name='viewport', content='width=device-width, initial-scale=1.0')
//-     link(rel='stylesheet', href='stylesheets/bulma.css')
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-     script(src="javascripts/jquery.min.js")

//-   body
//-     .container.column.is-full(style="height: 100vh;")
//-       .tile
//-       block content


//-     script(src="socket.io/socket.io.js")
//-     script(src="javascripts/chat.js")
//-     script(src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js")
    


