doctype html
html
  block head
body
  //- input#rename.fixed.hidden.input
  include header.pug
  include nameform.pug
  include container.pug
  include footer.pug
  //- include  create_playlist_modal.pug
block scripts
block content


