doctype html
html
  block head

body
  input#rename.fixed.hidden.input
  include header.jade
  include nameform.jade
  include container.jade
  include footer.jade
  //- include  create_playlist_modal.jade



block scripts




//- html
//-   block head
//-     title chat em up!!!
//-     meta(name='viewport', content='width=device-width, initial-scale=1.0')
//-     link(rel='stylesheet', href='stylesheets/bulma.css')
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-     script(src="javascripts/jquery.min.js")

//-   body
//-     .container.column.is-full(style="height: 100vh;")
//-       .tile
//-       block content


//-     script(src="socket.io/socket.io.js")
//-     script(src="javascripts/chat.js")
//-     script(src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js")



