#nameform.modal.is-active
  .modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title Enter a nickname for chatroom
    input#nickname.input(type="text" placeholder="enter nickname")
    footer.modal-card-foot
      button#setname.button.is-success Enter