block nameform
section#nameform.modal
  .backdrop
            
  .popup
    .pophead  Please enter a nickname
    .popbody  
      input#nickname(type="text")
      input#setname(type="button", value="Set Name")