//- Declaration (player-mixin.pug)
block player 

.tile.is-parent.is-vertical.is-3.box.is-block.is-paddingless
  
  .tile.is-child
    audio#audio-element(controls='true', src='')

    .tile
      button#playButton.button.is-small.tile.is-child play!!!!
      button#jumpButton.button.is-small.tile.is-child Jump In
      button#getSongs.button.is-small.tile.is-child Get Songs!!
  
    #songList.tile.is-child
      p 'Beetls' by Warpaint Live Session (Presented by Noisevox).mp3
      p 'Fake Palindromes'- Andrew Bird.mp!3
      p 50 Cent - !Hit you up.mp3
      p 50 Cent - We Gonna Hit Yo Ass Up (G-Unit Radio 10).mp3
