<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Document
  body


    script.
      var song = !{JSON.stringify(song)}
  div(style={margin:'0 auto'})
    p Track:
      span.mymessage#name
    p Downloaded by:
      span.mymessage#dlby
  #waveform
    script(src="https://unpkg.com/wavesurfer.js")

    script( src="/javascripts/wave.js" )
