.player
  #player
    //- i.fas.fa-volume-down
    #volume
    .ico
      i.fas.fa-volume-up
    .time
  input#find.w-100(placeholder="search" type="text", name="find")
  #songList
  audio#audio-element(controls="true"  src="")
  //- input#rename