::-webkit-input-placeholder {
  color: #3431d6;
}
:-ms-input-placeholder {
  color: #3431d6;
}
::-ms-input-placeholder {
  color: #3431d6;
}
::placeholder {
  color: #3431d6;
}
html {
  height: 100%;
}
body,
html {
  align-items: stretch;
  display: flex;
}
body {
  flex-direction: column;
  font: 14px Lucida Grande, Helvetica, Arial, sans-serif;
  height: 100%;
  height: calc(100% - 20px);
  margin: 0;
  padding: 0;
  width: 100%;
}
.user {
  color: #00ced1;
}
section#chatroom {
  background-color: #efffec;
  /* border: 2px solid #adff2f; */
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow: overlay;
  width: 100%;
}
ul#list {
  background: #faebd7;
  padding: 17px;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#messages {
  height: 100%;
  /* border: 2px solid #0c1c77; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
}
input#message {
  width: calc(100% - 80px);
}
input#send {
  width: 8%;
}
header {
  background-color: #4192c1;
  margin-top: 15px;
}
header h1 {
  color: #b60707;
  margin: 0;
  padding: 5px 15px 5px 5px;
}
footer {
  background-color: #4192c1;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  margin: 0 0 10px;
  padding: 6px;
  width: 100%;
}
a {
  color: #00b7ff;
}
.modal {
  /* transition: all 1s linear; */
  /* box-sizing: border-box; */
  height: 100%;
  /* left: 0; */
  position: absolute;
  /* top: 62px; */
  width: 100%;
  opacity: 1;
  /* z-index: 1000; */
}
.backdrop {
  background-color: #777;
  height: 100%;
  width: 100%;
}
.popup {
  background: #fff;
  height: 100px;
  left: calc(50% - 150px);
  position: absolute;
  top: calc(50% - 50px);
  width: 300px;
}
.pophead {
  background-color: #4192c1;
  color: #fff;
  font-weight: 700;
  padding: 8px 3px;
  vertical-align: middle;
}
.popbody {
  padding: 10px 5px;
}
.serverMessage {
  color: red;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}
div#songList p:hover{
  /* border-bottom: dashed lightseagreen; */
  outline: dashed lightseagreen;
  background: aliceblue;
  color: #0c1c77;
  cursor: pointer;
}
span.name {
  /* border-bottom-style: solid;
  color: #191970; */
  font-style: oblique;
  padding: 0 11px;
  margin: 11px 6px;
}
div.myMessage {
  opacity: 1;
	animation-name: fadeInOpacity;
	/* animation-iteration-count: 1; */
	animation-timing-function: ease-in;
	animation-duration: 1s;
  border-bottom-left-radius: 11px;
  /* box-shadow: 0px 2px 0 0 grey; */
  margin: 7px 0;
  padding: 7px 0;
}
.container {
  align-items: stretch;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}
.message_input:focus,
#ytlink:focus {
  border: 4px solid #daa520;
}
#ytlink{
  width: 320px;

}
#gobtn {
  width: 65px;
}
.player {
  /* border: 2px solid red; */
}
#songList {
  height: calc(100% - 83px);
  overflow: auto;
}
